<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.kentan.studentportalplus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".StudentPortalPlus"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".ui.widget.TimetableShortcutActivity"
            android:icon="@mipmap/ic_timetable"
            android:label="@string/shortcut_timetable">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".ui.WelcomeActivity" />
        <activity
            android:name=".ui.NoticeActivity"
            android:label="@string/title_activity_notice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.LectureInformationActivity"
            android:label="@string/title_activity_lecture_information"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.LectureCancellationActivity"
            android:label="@string/title_activity_lecture_cancellation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.MyClassActivity"
            android:label="@string/title_activity_my_class"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.MyClassEditActivity"
            android:label="@string/title_activity_my_class_edit"
            android:theme="@style/AppTheme.LightActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <service
            android:name=".notification.SyncJobService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service
            android:name=".notification.RetryActionService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".notification.DeviceStatusReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>