<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.kentan.studentportalplus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".StudentPortalPlus"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.TransparentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".ui.lectureinformationdetail.LectureInformationDetailActivity"
            android:label=""
            android:theme="@style/AppTheme.TransparentStatusBar" />
        <activity
            android:name=".ui.lecturecancellationdetail.LectureCancellationDetailActivity"
            android:label=""
            android:theme="@style/AppTheme.TransparentStatusBar" />
        <activity
            android:name=".ui.mycoursedetail.MyCourseDetailActivity"
            android:label=""
            android:theme="@style/AppTheme.TransparentStatusBar" />
        <activity
            android:name=".ui.noticedetail.NoticeDetailActivity"
            android:label=""
            android:theme="@style/AppTheme.TransparentStatusBar" />
        <activity android:name=".ui.welcome.WelcomeActivity" />
        <activity android:name=".ui.editmycourse.EditMyCourseActivity" />
        <activity android:name=".ui.settings.SettingsActivity" />

        <activity
            android:name=".ui.timetable.shortcut.TimetableShortcutActivity"
            android:enabled="@bool/enabled_shortcut_widget"
            android:icon="@mipmap/timetable_shortcut_activity"
            android:label="@string/timetable_shortcut_label">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/AppTheme.ActionBar" />

        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            android:exported="false"
            tools:node="remove" />

        <service android:name=".work.sync.RetrySyncService" />
    </application>

</manifest>
